/** @author vgdn1942, http://vgdn1942.h1n.ru */

:root[theme='light'] {
    --color-styleBackground: #f5f5f5;
    --color-styleForeground: #fafafa;
    --color-styleBorder: teal;
    --color-styleText: #263238;
    --color-styleLink: #018786;
    --color-styleVisited: #6200ee;
    --color-styleHover: white;
    --color-styleTeal500: #009688;
}

:root[theme='dark'] {
    --color-styleBackground: #303030;
    --color-styleForeground: #424242;
    --color-styleBorder: teal;
    --color-styleText: #cfd8dc;
    --color-styleLink: #03dac6;
    --color-styleVisited: #bb86fc;
    --color-styleHover: white;
    --color-styleTeal500: #009688;
}

body {
    color: var(--color-styleText);
    background: var(--color-styleBackground);
    font: 100%/1.25 Verdana, Arial, Helvetica, sans-serif;
    margin: 8px;
    display: block;
    width: auto;
}

a {
    color: var(--color-styleLink);
    text-decoration: none;
}

a:visited {
    color: var(--color-styleVisited);
}

a:link:hover, a:visited:hover {
    color: red;
    text-decoration: underline;
}

a.text:hover {
    text-decoration: none;
}

a.jush-help:hover {
    color: inherit;
}

h1 {
    font-size: 150%;
    margin: 0;
    padding: .8em 1em;
    border-bottom: 1px solid var(--color-styleBorder);
    font-weight: bold;
    color: var(--color-styleText);
}

h2 {
    font-size: 150%;
    margin: 0 0 20px -18px;
    padding: .8em 1em;
    border-bottom: 1px solid var(--color-styleBorder);
    color: var(--color-styleText);
    font-weight: bold;
}

h3 {
    font-weight: normal;
    font-size: 130%;
    margin: 1em 0 0;
}

form {
    margin-top: 2px;
    display: inline;
}

td table {
    width: 100%;
    margin: 0;
}

table {
    margin: 1em 20px 0 0;
    border-collapse: collapse;
    font-size: 90%;
}

td, th {
    border: 1px solid #999;
    padding: .2em .3em;
}

th {
    background: var(--color-styleForeground);
    text-align: left;
}

thead th {
    text-align: center;
    padding: .2em .5em;
}

thead td, thead th {
    background: var(--color-styleForeground);
}

fieldset {
    display: inline;
    vertical-align: top;
    padding: .5em .8em;
    margin: .8em .5em 0 0;
    border: 1px solid #999;
}

p {
    margin: .8em 20px 0 0;
}

img {
    vertical-align: middle;
    border: 0;
}

td img {
    max-width: 200px;
    max-height: 200px;
}

code {
    background: var(--color-styleForeground);
}

/* выделение целой строки при наведении */
/*
tbody tr:hover td, tbody tr:hover th {
    background: var(--color-styleBorder);
    color: var(--color-styleBackground);
}
*/

/* выделение только ячейки при наведении */
tbody td:hover {
    background: var(--color-styleBorder);
    color: var(--color-styleHover);
}

pre {
    margin: 1em 0 0;
}

pre, textarea {
    font: 100%/1.25 monospace;
}

select, input, button {
    background-color: var(--color-styleForeground);
    border: 1px solid var(--color-styleForeground);
    vertical-align: middle;

    position: relative;
    display: inline-block;
    font-size: 90%;
    font-weight: normal;
    color: var(--color-styleText);
    text-decoration: none;
    text-shadow: 0 -1px 2px rgba(0,0,0,.2);
    padding: .2em .2em;
    outline: none;
    border-radius: 3px;
    background: linear-gradient(var(--color-styleForeground), var(--color-styleBackground)) var(--color-styleForeground);
    box-shadow:
    0 1px rgba(255,255,255,.2) inset,
    0 1px 3px rgba(0,1,6,.5),
    0 0 1px 1px rgba(0,1,6,.2);
    transition: .2s ease-in-out;
    margin-right: 5px;
}

/* Наведение мыши */
select:hover:not(:active) {
    background: linear-gradient(var(--color-styleBackground), var(--color-styleForeground)) var(--color-styleBackground);
}

/* Нажатие */
select:active {
    top: 1px;
    background: linear-gradient(var(--color-styleForeground), var(--color-styleBackground)) var(--color-styleForeground);
    box-shadow:
    0 0 1px rgba(0,0,0,.5) inset,
    0 2px 3px rgba(0,0,0,.5) inset,
    0 1px 1px rgba(255,255,255,.1);
}

input.default {
    box-shadow: 1px 1px 1px #777;
}

input.required {
    box-shadow: 1px 1px 1px red;
}

input.maxlength {
    box-shadow: 1px 1px 1px red;
}

input.wayoff {
    left: -1000px;
    position: absolute;
}

iframe {
    border: 0; /* or border:none; */
}

/* Наведение мыши */
button:hover:not(:active) {
    background: linear-gradient(var(--color-styleBackground), var(--color-styleForeground)) var(--color-styleBackground);
}

/* Нажатие */
button:active {
    top: 1px;
    background: linear-gradient(var(--color-styleForeground), var(--color-styleBackground)) var(--color-styleForeground);
    box-shadow:
    0 0 1px rgba(0,0,0,.5) inset,
    0 2px 3px rgba(0,0,0,.5) inset,
    0 1px 1px rgba(255,255,255,.1);
}

.tooltip {
      position: fixed;
      padding: 10px 20px;
      border: 1px solid var(--color-styleBorder);
      border-radius: 4px;
      text-align: center;
      font: italic 14px/1.3 sans-serif;
      color: var(--color-styleText);
      background: var(--color-styleBackground);
      box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}

.block {
    display: block;
}

.version {
    color: var(--color-styleBorder);
    font-size: 70%;
}

.js .hidden, .nojs .jsonly {
    display: none;
}

.js .column {
    position: absolute;
    background: var(--color-styleBorder);
    padding: .27em 1ex .3em 0;
    margin-top: -.27em;
}

.nowrap td, .nowrap th, td.nowrap, p.nowrap {
    white-space: pre;
}

.wrap td {
    white-space: normal;
}

.error {
    color: red;
    background: #fee;
}

.error b {
    background: #fff;
    font-weight: normal;
}

.message {
    color: green;
    background: #efe;
}

.message table {
    color: #000;
    background: #fff;
}

.error, .message {
    padding: .5em .8em;
    margin: 1em 20px 0 0;
}

.char {
    color: #007F00;
}

.date {
    color: #7F007F;
}

.enum {
    color: #007F7F;
}

.binary {
    color: red;
}

.odd td {
    background: var(--color-styleForeground);
}

/* Цвет элемента списка при выделении */
.js .checkable .checked td, .js .checkable .checked th {
    background: var(--color-styleBorder);
    color: var(--color-styleBackground);
}

.js .checkable .checked a {
    color: blue;
}

.js .checkable .checked a:visited {
    color: navy;
}

.time {
    color: silver;
    font-size: 70%;
}

.function {
    text-align: right;
}

.number {
    text-align: right;
}

.datetime {
    text-align: right;
}

.type {
    width: 15ex;
    width: auto \9;
}

.options select {
    width: 20ex;
    width: auto \9;
}

.view {
    font-style: italic;
}

.active {
    font-weight: bold;
}

.sqlarea {
    width: 98%;
}

.icon {
    width: 18px;
    height: 18px;
    background-color: navy;
}

.icon:hover {
    background-color: red;
}

.size {
    width: 6ex;
}

.help {
    cursor: help;
}

.footer {
    position: sticky;
    bottom: 0;
    margin-right: -20px;
    border-top: 20px solid rgba(255, 255, 255, .7);
    border-image: linear-gradient(rgba(255, 255, 255, .2), var(--color-styleForeground)) 100% 0;
}

.footer > div {
    background: var(--color-styleForeground);
    padding: 0 0 .5em;
}

.footer fieldset {
    margin-top: 0;
}

.links a {
    white-space: nowrap;
    margin-right: 20px;
}

.logout {
    margin-top: .5em;
    /*
    position: absolute;
    */
    top: 0;
    right: 0;
}

.loadmore {
    margin-left: 1ex;
}

/* Remove outline on the forms and links */
:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

/* .edit used in designs */
#menu {
    position: absolute;
    margin: 10px 0 0;
    padding: 0 0 30px 0;
    top: 2em;
    left: 0;
    width: 19em;
}

#menu p, #logins, #tables {
    padding: .8em 1em;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

#logins li, #tables li {
    list-style: none;
}

#dbs {
    overflow: hidden;
}

#logins, #tables {
    white-space: nowrap;
    overflow: auto;
}

#logins a, #tables a, #tables span {
    background: var(--color-styleForeground);
}

#content {
    margin: 2em 0 0 21em;
    padding: 10px 20px 20px 0;
}

#lang {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 1.8em;
    padding: .3em 1em;
}

#breadcrumb {
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 21em;
    background: var(--color-styleForeground);
    height: 2em;
    line-height: 1.8em;
    padding: 0 1em;
    margin: 0 0 0 -18px;
}

#h1 {
    color: var(--color-styleBorder);
    text-decoration: none;
    font-style: italic;
}

#version {
    font-size: 70%;
    color: red;
}

#schema {
    margin-left: 60px;
    position: relative;
    -moz-user-select: none;
    -webkit-user-select: none;
}

#schema .table {
    border: 1px solid silver;
    padding: 0 2px;
    cursor: move;
    position: absolute;
}

#schema .references {
    position: absolute;
}

#help {
    position: absolute;
    border: 1px solid #999;
    background: #eee;
    padding: 5px;
    font-family: monospace;
    z-index: 1;
}

.rtl h2 {
    margin: 0 -18px 20px 0;
}

.rtl p, .rtl table, .rtl .error, .rtl .message {
    margin: 1em 0 0 20px;
}

.rtl .logout {
    left: 0;
    right: auto;
}

.rtl #content {
    margin: 2em 21em 0 0;
    padding: 10px 0 20px 20px;
}

.rtl #breadcrumb {
    left: auto;
    right: 21em;
    margin: 0 -18px 0 0;
}

.rtl .pages {
    left: auto;
    right: 21em;
}

.rtl input.wayoff {
    left: auto;
    right: -1000px;
}

.rtl #lang, .rtl #menu {
    left: auto;
    right: 0;
}

@media all and (max-device-width: 880px) {
    .pages {
        left: auto;
    }

    #menu {
        position: static;
        width: auto;
    }

    #content {
        margin-left: 10px;
    }

    #lang {
        position: static;
        border-top: 1px solid #999;
    }

    #breadcrumb {
        left: auto;
    }

    .rtl .pages {
        right: auto;
    }

    .rtl #content {
        margin-right: 10px;
    }

    .rtl #breadcrumb {
        right: auto;
    }
}

@media print {
    #lang, #menu {
        display: none;
    }

    #content {
        margin-left: 1em;
    }

    #breadcrumb {
        left: 1em;
    }

    .nowrap td, .nowrap th, td.nowrap {
        white-space: normal;
    }
}
